.notification {
  color: #fff;
  box-sizing: border-box;
  padding: 0.7em 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  gap: 0.3em;
  max-height: 0;
  transition: max-height 0.1s linear;
  overflow: hidden;
  margin-bottom: 10px;
}

.notificationOnLoad {
  max-height: 100px;
}

.notificationOnClose {
  max-height: 0;
  padding: 0;
  margin-bottom: 0;
  opacity: 0;
  transition: opacity 0.3s linear, padding 0.1s linear 0.3s,
    max-height 0.1s linear 0.3s, margin-bottom 0.1s linear 0.3s;
}

.notificationError {
  background-color: #b00020;
}

.notificationDone {
  background-color: #2e7d32;
}

.heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
}

.btnClose {
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: grid;
  place-content: center;
  cursor: pointer;
  grid-row: span 2;
  margin: 0;
  padding: 6px;
  border-radius: 50%;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  flex-shrink: 0;
}

.btnClose:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
