.burger-btn {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all .2s linear;
}

.burger-btn::before {
  content: '';
  display: block;
  width: 24px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s linear;
}

.burger-btn::after {
  content: '';
  display: block;
  width: 24px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .2s linear;

}

.burger-btn:hover {
  opacity: .6;
}